exportPattern("^[[:alpha:]]+")
importFrom("stats", "plot.stepfun", "stepfun")
S3method(bonferroni, dataProcessed)
S3method(gini, dataProcessed)
S3method(zenga, dataProcessed)
S3method(print, dataProcessed)
S3method(inequalityCurves, decomposition)
S3method(plot, inequality_curves)
S3method(print, summary.decomposition)
S3method(summary, decomposition)